@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.texto-body {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #EFEFFF;
}

.texto-chico {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #EFEFFF;
}

.texto-btn {
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
}

.header {
    grid-area: header;
    background-color: #00004F;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.seccion-header1 {
    height: 100%;
    display: flex;
    width: 33.3%;
    justify-content: start;
}

.seccion-header2 {
    height: 100%;
    display: flex;
    width: 33.3%;
    justify-content: center;
}

.seccion-header3 {
    height: 100%;
    display: flex;
    width: 33.3%;
    justify-content: end;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-right: 10%;
}

.menu span {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
    min-width: 60px;
    border-radius: 100%;
}

.logo img {
    height: 10vh;
    border-radius: 100%;
}

.buscador {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.buscador input {
    display: flex;
    justify-content: end;
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: none;
    position: relative;
}

.buscador input::placeholder {
    padding-left: 5%;
    color: #00001D;
}

.buscador img {
    height: 24px;
    width: 24px;
    position: absolute;
    margin-left: 83%;
}

.mis-favoritos {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mis-favoritos button {
    width: 150px;
    color: #EFEFFF;
}

.mis-favoritos img {
    padding-right: 5%;
}

.btn-trasparente {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}


.mi-carrito {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.icono {
    width: 30px;
    height: 30px;
}

.mi-perfil {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 3%;
}


/* MENU DESPLEGADO */

.menu-desplegado {
    width: 15%;
    height: 90vh;
    background-color: #00004F;
    display: flex;
    flex-direction: column;
    display: none;
}

.menu-desplegado-categorias-principales {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}

.menu-desplegado-categorias-principales::-webkit-scrollbar {
    width: 3px;
}

.menu-desplegado-categorias-principales::-webkit-scrollbar-thumb {
    background-color: #EFEFFF;
    border-radius: 10px;
}

.menu-desplegado-redes-sociales {
    height: 10%;
    width: 100%;
    z-index: 1;
}

.menu-desplegado-redes-sociales .redes-sociales {
    margin: 5px 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoria-menu {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.categoria-menu img {
    width: 30%;
    display: flex;
    align-items: center;
}

.categoria-menu li {
    width: 70%;
    height: 100%;
    color: #EFEFFF;
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-desplegado hr {
    width: 80%;
    margin: 4% 0;
    margin-left: 10%;
}

.icono-mas-chico {
    width: 20px;
    height: 20px;
}


/* PERFIL DESPLEGADO */

.mi-perfil-desplegado {
    width: 30%;
    height: 40vh;
    background-color: #00004F;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.perfil-soy-yo {
    display: flex;
    width: 100%;
    align-items: center;
    color: #EFEFFF;
}

.perfil-soy-yo p {
    margin-left: 3px;
}

.contenedor-icono-perfil-desplegado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.configuraciones-perfil-desplegado {
    display: flex;
    width: 100%;
    align-items: center;
    color: #EFEFFF;
}

.contenedor-cerrar-sesion {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.contenedor-cerrar-sesion button {
    background-color: transparent;
    border: solid 2px #EFEFFF;
    border-radius: 15px;
    cursor: pointer;
    color: #EFEFFF;
    height: 30px;
    width: 150px;
}

.contenedor-configuraciones-perfil-desplegado {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* CARRITO */

.seccion-carrito {
    display: flex;
    justify-content: center;
    background-color: #00004F;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.contenedor-carrito {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 10px;
}

.contenedor-todas-compras {
    width: 60%;
}

.contenedor-compras {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    height: 155px;
    border-bottom: 2px solid #EFEFFF;
}

.contenedor-img-compra {
    height: 100%;
    margin: 10px;
}

.contenedor-img-compra img {
    object-fit: cover;
}

.contenedor-compra-carrito {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
}

.titulo-compra {
    color: #EFEFFF;
}

.btn-carrito {
    border: none;
    background-color: transparent;
    color: #B0B0FF;
    margin: 0 10px;
}

.contenedor-btn-compra {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: end;
}

.imagen-carrito {
    border: solid 1px white;
}

.contedor-agrego-compra {
    display: flex;
    align-items: center;
    height: 70%;
    margin: 0 5px;
}

.resumen-compra {
    color: #EFEFFF;
    margin-bottom: 10px;
}

.titulo-resumen-compra {
    border-bottom: 2px solid #EFEFFF;
}

.articulo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
}

.articulo p,
h3 {
    padding: 0 5px;
}

.contenedor-btn-realizar-compra {
    display: flex;
    justify-content: center;
}

.btn-compra {
    border: none;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    background-color: #0000FF;
    color: #EFEFFF;
}

.contenedor-cruz {
    position: absolute;
    right: 5px;
    top: 5px;
}


/* SECCION FOOTER */

.footer {
    grid-area: footer;
    height: 100%;
    width: 100%;
    background-color: #00004F;
    display: flex;
}

.section-footer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-redes {
    justify-content: start;
}

.redes-sociales {
    display: flex;
    margin-top: 17px;
}

.redes-sociales img {
    margin: 0 5px;
}

.medio-de-pago {
    width: 40px;
    height: 18px;
    background-color: #EFEFFF;
}

.medio-de-pago img {
    width: 100%;
}

.icono-chico {
    width: 24px;
    height: 24px;
}

.section-footer .logo img {
    margin-top: 17px;
}

.section-footer:first-child p {
    margin-bottom: 14px;
}