@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* COLORES */

:root {
    /* Colores primarios */
    --color-primario: #0000FF;
    --color-primario-Luz-2: #7676FF;
    --color-primario-Luz-3: #B0B0FF;
    --color-primario-sombra-1: #0000E0;
    --color-primario-sombra-2: #00008A;
    --color-primario-sombra-3: #00004F;
    /* Colores secundarios */
    --color-secundario: #FF8000;
    --color-secundario-luz-1: #FF9020;
    --color-secundario-luz-2: #FFB568;
    --color-secundario-luz-3: #FFCD99;
    --color-secundario-sombre-1: #E77400;
    --color-secundario-sombre-1: #CD6800;
    --color-secundario-sombre-1: #AC5700;

    /* Color negro */
    --color-negro: #00001D;

    /* Color blanco */
    --color-blanco: #EFEFFF;

    /* Color acento */
    --color-acento: #008F39;

    /* Color Estados */
    --color-rojo: #DE0606;
    --color-amarillo: #E5BE01;
    --color-verde: #08CE57;

    /* Color gris */
    --color-gris: #616161;
}

h1 {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    font-family: Inter;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5 {
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h6 {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto-body {
    /* texto BODY */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto-btn-chico {
    /* texto BTN */
    font-family: Roboto;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
}

.texto-btn-grande {
    /* texto BTN */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
}

.texto-chico {
    /* texto chico */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto-mini {
    /* texto-mini */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.texto-grande {
    /* texto GRANDE */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.12px;
}