@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.texto-body {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #EFEFFF;
    text-align: center;
}

.texto-chico {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #EFEFFF;
    text-align: center;
}

.contenedor {
    background-color: #00001D;
    width: 100%;
    display: grid;
    grid-template-columns: 7% 71% 5% 10% 7%;
    grid-auto-rows: 100%;
    grid-template-rows: 10vh 6vh 75vh 6vh 25vh 6vh auto 6vh 75vh 6vh 25vh;
    grid-template-areas:
        "header header header header header"
        " . br-es . . ."
        ". juego . anuncio ."
        ". . . . ."
        ". mas-juegos mas-juegos mas-juegos ."
        ". . . . ."
        ". info info info ."
        ". . . . ."
        ". comentarios . anuncio2 ."
        ". . . . ."
        "footer footer footer footer footer";
}


.header {
    grid-area: header;
    background-color: #00004F;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.seccion-header1 {
    height: 100%;
    display: flex;
    width: 33.3%;
    justify-content: start;
}

.seccion-header2 {
    height: 100%;
    display: flex;
    width: 33.3%;
    justify-content: center;
}

.seccion-header3 {
    height: 100%;
    display: flex;
    width: 33.3%;
    justify-content: end;
}

.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-right: 10%;
}

.menu span {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
    min-width: 60px;
    border-radius: 100%;
}

.logo img {
    height: 10vh;
    border-radius: 100%;
}

.buscador {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.buscador input {
    display: flex;
    justify-content: end;
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: none;
    position: relative;
}

.buscador input::placeholder {
    padding-left: 5%;
    color: #00001D;
}

.buscador img {
    height: 24px;
    width: 24px;
    position: absolute;
    margin-left: 83%;
}

.mis-favoritos {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mis-favoritos button {
    width: 150px;
    color: #EFEFFF;
}

.mis-favoritos img {
    padding-right: 5%;
}

.btn-trasparente {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mi-carrito {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.icono {
    width: 30px;
    height: 30px;
}

.mi-perfil {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 3%;
}

/* SECCION FOOTER */

.footer {
    grid-area: footer;
    height: 100%;
    width: 100%;
    background-color: #00004F;
    display: flex;
}

.section-footer {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-redes {
    justify-content: start;
}

.redes-sociales {
    display: flex;
    margin-top: 17px;
}

.redes-sociales img {
    margin: 0 5px;
}

.medio-de-pago {
    width: 40px;
    height: 18px;
    background-color: #EFEFFF;
}

.medio-de-pago img {
    width: 100%;
}

.icono-chico {
    width: 24px;
    height: 24px;
}

.section-footer .logo img {
    margin-top: 17px;
}

.section-footer:first-child p {
    margin-bottom: 14px;
}


/* SECCION ESTRELLAS */
.estrellas {
    display: flex;
    justify-content: end;
}

.estrellas img {
    margin: 0 3px;
}

/* SECCION JUEGO */

.juego {
    grid-area: juego;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, red, yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-video {
    width: 22%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: #EFEFFF;
}

.video {
    width: 100%;
    height: 70%;
    border-bottom: 2px solid black;
}

.contenedor-btn-jugar {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECCION JUEGANDO */

.contenedor-jugando {
    width: 100%;
    height: 100%;
    background-color: #08CE57;
}

.cuatro-linea {
    width: 100%;
    height: 95%;
}

.cuatro-linea img {
    width: 100%;
    height: 100%;
}

.intrucciones {
    display: flex;
    justify-content: end;
    background-color: #00008A;
    width: 100%;
    height: 5%;
    align-items: center;
}

.iconos-del-juego {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 15px;
}

/* SECCION ANUNCIO */

.anuncio {
    grid-area: anuncio;
    height: 100%;
    width: 100%;
}

.anuncio img {
    width: 100%;
    height: 100%;
}

/* SECCION MAS JUEGOS */

.mas-juegos {
    grid-area: mas-juegos;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* INFO JUEGO */
.info-juego {
    grid-area: info;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 79, 0.8);
    display: flex;
    flex-direction: column;
}

.info-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.informacion {
    margin: 5px 0;
    border-radius: 10px;
    width: 100%;
    text-align: start;
    color: #EFEFFF;
}

.btn-compartir-contenedor {
    width: 100%;
    display: flex;
    align-items: center;
}

.icono-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 15px;
}

.btn-compartir {
    background-color: #008F39;
    border: none;
    width: 150px;
    height: 35px;
    text-align: center;
    position: relative;
    padding-left: 15px;
}

/* SECCION COMENTARIOS */

.comentarios {
    grid-area: comentarios;
    width: 100%;
    height: 100%;
    color: #EFEFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 380px;
}

.comentario {
    background-color: #FFCD99;
    height: 100px;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.comentario-enviar {
    background-color: #EFEFFF;
}

.comentario-perfil {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    padding-left: 5%;
}

.perfil-nombre-comentario {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.perfil-nombre-comentario p {
    color: rgb(0, 0, 29, 0.7);
    margin-left: 2%;
}

.comentario-input {
    width: 100%;
    height: 50%;
    border-top: solid #00001D 2px;
    display: flex;
}

.calificacion-comentario {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}

.comentario-input p {
    width: 80%;
    height: 99%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: #00001D;
}



.comentario-input-enviar {
    background-color: #EFEFFF;
}

.form-comentario {
    display: flex;
    height: 95%;
    width: 95%;
}

.input-form {
    background-color: transparent;
    margin-left: 2px;
    height: 95%;
    width: 95%;
    border: none;
}

.icono-enviar {
    display: flex;
    align-items: center;
}

.nombre-perfil {
    color: #00001D;
    list-style: none;
    margin-left: 1%;
}

.input-form::placeholder {
    color: #00001D;

    padding-left: 5%;
}

/* ANUNCIO 2 */

.anuncio2 {
    grid-area: anuncio2;
    width: 100%;
    height: 100%;
}

.anuncio2 img {
    width: 100%;
    height: 100%;
}

/* ARRANCO EL BREADCRUMB */

.breadcrumb-contenedor {
    background-color: #00001D;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
}

.breadcrumb-cate {
    color: #EFEFFF;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}

.breadcrumb-link {
    color: #EFEFFF;
    text-decoration: none;
}

.contenedor-comentario {
    display: flex;
    flex-direction: column;
}

.titulo-comentario {
    display: flex;
    justify-content: center;
    color: #EFEFFF;
}


/* BREAD Y ESTRELLAS */

.bread-estrellas {
    grid-area: br-es;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
}

/* CARD DE MAS JUEGOS */

.card-mas-juegos {
    height: 100%;
    width: 18%;
    background-color: #EFEFFF;
    border: solid 2px #FF8000;
    position: relative;
}

.card-mas-juegos:hover .card-mas-juegos-oculta {
    display: flex;
}

.card-mas-juegos img {
    width: 100%;
    height: 100%;
}

.card-mas-juegos-oculta {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 29, 0.6);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    display: none;
}

.btn-jugar {
    border: none;
    height: 25px;
    width: 150px;
    border-radius: 20px;
    background-color: #08CE57;
    color: #EFEFFF;
}

.jugar-card-oculta {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre-del-juego {
    display: flex;
    justify-content: start;
    color: #EFEFFF;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 2%;
    padding-left: 2%;
}